h1{
    font-size: 40px;
    margin-left: 20px;
    color:black;
    margin-top: 10px;
    margin-right: 10px;
}

.medio{
   font-size: 30px;
}
.pequenin{
    font-size: 25px;
}

.texto{
    margin-top: 10px;
    font-size: 20px;
    margin-left: 20px;
}

.Bio{
    margin-left: 20px;
    font-size: 25px;
}

img{
    width: 250px;
    height: auto;
    margin-left: 20px;
    margin-top: 1px;
    margin-bottom: 20px;
    cursor: pointer;
}

.caixa{
    border: 5px solid black;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.baixo{
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.filho{
    flex:1;
    border: 3px solid black;
    border-radius: 10px;
    padding: 3px;
}


.bfilho{
    margin-bottom: 5px;
    border: 3px solid black;
    border-radius: 6px;
}